<table class="table table-striped" id="table_id">
    <thead>
        <tr style="text-align: center;">                        
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr style="text-align: right;" *ngFor="let person of People">            
            <td style="text-align: left;">{{person.name}}</td>            
            <td style="text-align: left;">{{person.username}}</td> 
            <td> <a routerLink="/peopleedit/{{ person.id }}">Configurar</a></td>
        </tr>
    </tbody>
</table>